<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="unb.poo.mwmobile" >

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--
 To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" /> <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Para usar o GCM -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="unb.poo.mwmobile.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="unb.poo.mwmobile.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"
            tools:replace="android:value" />

        <!-- Recebe GCM -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="unb.poo.mwmobile" />
            </intent-filter>
        </receiver>

        <!-- Services do GCM -->
        <service
            android:name=".services.GCM.GCMListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="unb.poo.mwmobile" />
            </intent-filter>
        </service>
        <service
            android:name=".services.GCM.InstanceIDListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name=".services.GCM.RegistrationIntentService"
            android:exported="false" >
        </service>

        <activity
            android:name=".acts.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".acts.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".acts.HomeActivity"
            android:label="@string/title_activity_home">
        </activity>
        <activity
            android:name=".acts.WelcomeActivity"
            android:label="@string/title_activity_welcome" >
        </activity>
        <activity
            android:name=".acts.MenuHomeActivity"
            android:label="@string/title_activity_menu" >
        </activity>
        <activity
            android:name=".acts.MenuGradeActivity"
            android:label="@string/title_activity_menu_grade" >
        </activity>
        <activity
            android:name=".acts.HistoricoActivity"
            android:label="Historico" >
        </activity>
        <activity
            android:name=".acts.QuadroResumoActivity"
            android:label="Quadro Resumo" >
        </activity>
    </application>

</manifest>
